/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2018, 3:03:03 PM
    Author     : philippnienhuser
*/

.col1 {
    text-align: center;
}

.col2 {
    width: 60%;
    align-content: center;
}

.col3{
    width: auto;
    align-content: center;
}
